<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Todo List</h1>

    <button id="completed">Show Completed</button>
    <button id="all">Show All</button>
    <button id="incomplete">Show Incomplete</button>

    <form id="add-todo">
      <input id="todo-input" type="text" />
      <button type="submit">Add Todo</button>
    </form>

    <div id="todos"></div>

    <script type="text/javascript" src="/bundle.js"></script>
  </body>
</html>
